[submodule "lab1/duckie-rh2"]
	path = exercise1/duckie-rh2
	url = https://github.com/marcus65001/duckie-rh2
[submodule "lab1/duckie_color_det"]
	path = exercise1/duckie_color_det
	url = https://github.com/marcus65001/duckie_color_det
[submodule "exercise2/412e2"]
	path = exercise2/412e2
	url = https://github.com/marcus65001/412e2
[submodule "exercise2/412e2p2"]
	path = exercise2/412e2p2
	url = https://github.com/marcus65001/412e2p2
[submodule "exercise3"]
	path = exercise3
	url = https://github.com/marcus65001/c412e3
[submodule "exercise4"]
	path = exercise4
	url = https://github.com/marcus65001/c412e4
[submodule "exercise5/main"]
	path = exercise5/main
	url = https://github.com/marcus65001/c412e5
	branch = main
[submodule "exercise5/inference"]
	path = exercise5/inference
	url = https://github.com/marcus65001/c412e5
	branch = marcus-inference
[submodule "exercise5/utils"]
	path = exercise5/utils
	url = https://github.com/marcus65001/c412e5_utils
[submodule "final"]
	path = final
	url = https://github.com/marcus65001/c412_final
