[submodule "lab1/duckie-rh2"]
	path = exercise1/duckie-rh2
	url = https://github.com/marcus65001/duckie-rh2
[submodule "lab1/duckie_color_det"]
	path = exercise1/duckie_color_det
	url = https://github.com/marcus65001/duckie_color_det
[submodule "exercise2/412e2"]
	path = exercise2/412e2
	url = https://github.com/marcus65001/412e2
[submodule "exercise2/412e2p2"]
	path = exercise2/412e2p2
	url = https://github.com/marcus65001/412e2p2
[submodule "exercise3"]
	path = exercise3
	url = https://github.com/marcus65001/c412e3
